html {
	position: relative;
	min-height: 100%;
}

body{
	padding: 0;
	margin: 0;
	background-color: #EDEDED;
	position: relative;
    }
	.header-container {
		background-color: #000;
		height: 44px;
		text-align: left;
		width: 100%;
		border: 0px;
		margin: 0px;
		vertical-align: baseline;
	}
	.header {
		position: relative;
		width: 980px;
		height: 44px;
		margin: 0 auto;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;

	}

	.branding {
		left: 0;
		position: absolute;
		height: 44px;

	}
	.logo {
		float: left;
		margin: 0px;
	}
	h1 {
		color: white;
		letter-spacing: 0.13em;
	}


	.secondary-nav {
		float: right;
		height: 44px;
		line-height: 44px;
		margin: 0px;

	}


	ul {

		list-style: none;
		-webkit-margin-before: 1em;
    	-webkit-margin-after: 1em;
    	-webkit-margin-start: 0px;
    	-webkit-margin-end: 0px;
    	-webkit-padding-start: 40px;
		color: white;

	}

	li {
		letter-spacing: 0.13em;
		display: inline-block;
		vertical-align: middle;
		margin-right: 30px;
	}
	.nav-container {
		background-color: #999;
		height: 40px;
		position: relative;
		z-index: 200;

	}
	.nav-wrap {
		width: 980px;
		margin: 0 auto;

	}
	.nav-bar-2{
		width: 980px;
	}

	#nav-menu2{
		font-size: 13px;
		color: #FFF;
		letter-spacing: 2px;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		line-height: 40px;
		text-aligh: center;
		text-transform: uppercase;
		text-shadow: 0 -1px 0 rgba(255,255,255,0.25);
		position: relative;
		white-space: nowrap;
		margin: 0px;
		pardding: 0px;

	}

	.btn-group {
		display: inline-block;
	}

	#catLogo {
		display: flex;
		flex-direction: row;
	}
	#dropdown-width {
		margin: 10px,20px,10px,0px;
		padding-bottom: 0px;

	}
	#logoNav{
		width: 100px;
		font-size: 28px;
		margin-left: 50px;
		margin-right: 38px;
		font-family: Sigmar One, Arial, sans-serif;
		margin-bottom: 5px;
		padding-bottom: 0px;
		text-decoration: none;
	}
	#placeAd {
		display: flex;
		flex-direction: row;
		margin-left: 50px;
		align-items: center;
	}
	#login {
		margin-left: 20px;
	}
	#searchSection {
		text-align: center;

	}
	#search-box {
		margin: 0px;
	}

	#noMobile {
		display: none;
	}

	form {
		margin-top: 20px;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	input{
		font-size: 14px;
		font-size: sans-serif;
	}
	.catDisplay {
		display: none;
	}

	.wrapper {
		margin-bottom: -70px;
		height: auto;
		min-height: 100%;
	}
	.footerContainer {
		display: flex;
		position: absolute;
		width: 100%;
		height: 70px;
		margin-top: 1950px;
		margin-bottom: 0;
		background-color: #000;
		align-items: center;
		justify-content: flex-end;
	}
	#contact {
		font-size: 11px;
		font-family: Arial, Helvetica, Sans-serif;
		margin-right: 20px;
		color: white;
		text-transform: uppercase;
	}
	.icon {
		margin-right: 20px;
		width:50px;
		height: 50px;
	}

@media screen and (min-width: 640px){
		#dropdown-width {
			display: none;
		}
		.btn-group a{
			font-size: 18px;
		}

		.searchSection {
			display: flex;
			flex-direction: row;
			justify-content: center;

		}

		#noMobile {
			display: inline-block;
		}
		#searchBar {
			width: 250px;
	}
		.catDisplay {
			display: flex;
			justify-content: center;
			text-align: left;
		}
		.catDisplay ul li{
			list-style: none;
			color: grey;
			font-weight: bold;
		}

		.footerContainer{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		#contact{
			text-decoration: none;
			margin-right: 20px;

		}
		.icon{
			width: 50px;
			height: 50px;
		}
	}